/*tells browser to account for padding and border for the elements height and width*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*background color of body */
body {
    background-color: #d9dcd6;
}

/*sets header padding, header font, header background color and text color*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*sets header display and font size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*sets 'seo' portion of company name to seperate color*/
.header h1 .seo {
    color: #d9dcd6;
}
/*sets header navigation to the right, at a certain font size, font family, margin and padding */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*sets header navigation to have no list style*/
.header div ul {
    list-style-type: none;
    
}
/*sets header navigation to display inline with a margin*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*sets link color to white with no decoration*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*sets background image to top page graphic with a particular size, margin and position*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*sets content p font size */
p {
    font-size: 16px;
}

/*sets content element width display and left margin*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*sets SEO and social media marketing images to float to the left of the element*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*sets online reputation management to floar right to the right of the element*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*sets benefits to right side is view, margin, padding, width, height, font family and background color*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*sets each benefits div to same size and same font color*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}


/*sets font size and alignment to benefits headings*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}


/*sets images inside benefits to same size.*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*sets element margin, padding, height, font family, background color and font color*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*sets element margin, padding, height, font family, background color and font color*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*sets element margin, padding, height, font family, background color and font color*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*sets content images to a specific height*/
.content img {
    max-height: 200px;
}


/*sets margin and font size of content headings*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*sets padding around footer, changes font family and align text to center */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*size of footer heading*/
.footer h2 {
    font-size: 20px;
}
